* {
  margin: 0;
  padding: 0;
}

.project-img {
  height: 220px;
  object-fit: cover;
}

.enquiry-btn{
  border: none !important;
    background: rgb(0 0 0 / 23%) !important;
    color: #254489 !important;
    font-weight: 400 !important;
    border-radius: 2px !important;
}

.whatsapp-btn{
 border: none !important;
    background: #0b6a0bd4 !important;
    color: #fff !important;
    font-weight: 400 !important;
    border-radius: 2px !important;

}